.code {
  background-color: #28282b;
  color: white;
}

.string-js {
  color: yellow;
}

pre {
  background: #28282b;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  overflow-x: auto;
  font-size: 14px;
}
.key-python-yellow {
  color: #ffff00;
}
.keyword {
  color: #9d9de2;
}
.key-method {
  color: #e15656;
}
.key-html {
  color: #17c517;
}
.comment-js {
  color: #605f5f; /* Adjust color as needed */
}
.editor-toolbar {
  background-color: #28282b !important ;
  position: sticky !important;
  z-index: 50 !important;
  top: 0 !important;
}

.editor-toolbar button {
  color: white !important;
}
.editor-toolbar button.active,
.editor-toolbar button:hover {
  background: #fcfcfc !important;
  border-color: #28282b !important;
  color: #28282b !important;
}
.editor-toolbar.fullscreen {
  position: fixed !important;
  top: 0 !important;
}
li {
  margin: 10px 40px;
}

ol&&ol {
  margin: 10px 20px;
}
br {
  user-select: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
