@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.code {
  background-color: #28282b;
  color: white;
}

.string-js {
  color: yellow;
}

pre {
  background: #28282b;
  color: #ffffff;
  border-radius: 10px;
  /* padding: 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 45px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #57575c transparent;
  scrollbar-width: 4px;
  font-size: 14px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
code {
  width: fit-content;
  padding: 4px;
  background: #28282b;
  color: #7ed07e;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  margin: 0 5px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.key-python-yellow {
  color: #ffff00;
}
.keyword {
  color: #f39c12;
}
.key-brackets {
  color: #ffffff;
}
.key-numbers {
  color: blue;
}
.key-method {
  color: #e15656;
}
.key-html {
  color: #17c517;
}
.comment-js {
  color: #605f5f; /* Adjust color as needed */
}
.editor-toolbar {
  background-color: #28282b !important ;
  position: sticky !important;
  z-index: 50 !important;
  top: 0 !important;
}

.editor-toolbar button {
  color: white !important;
}
.editor-toolbar button.active,
.editor-toolbar button:hover {
  background: #fcfcfc !important;
  border-color: #28282b !important;
  color: #28282b !important;
}
.editor-toolbar.fullscreen {
  position: fixed !important;
  top: 0 !important;
}
li {
  margin: 10px 25px;
}

ol&&ol {
  margin: 10px 20px;
}
br {
  user-select: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* Table of content */

.toc-container h2 {
  font-size: 2rem;
  margin: 10px;
}

.toc-container ul {
  list-style-type: none;
  padding-left: 0;
}

.toc-container li {
  margin: 10px 0;
}

html.light .toc-container {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #444444;
  padding: 0px 16px;
  margin: 10px 0;
  border-radius: 8px;
  max-width: 100%;
}

/* Dark mode */
html.dark .toc-container {
  background-color: #020817;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 0px 16px;
  margin: 10px 0;
  border-radius: 8px;
  max-width: 100%;
  font-family: Arial, sans-serif;
}
html.dark .toc-container a {
  color: #ffffff; /* Link color */
  text-decoration: none; /* Remove underline from links */
}
html.light .toc-container a {
  color: #000000; /* Link color */
  text-decoration: none; /* Remove underline from links */
}
.toc-container a:hover {
  text-decoration: underline !important; /* Underline links on hover */
}

.hidden-scroll {
  scrollbar-width: none;
  scrollbar-color: white black;
}
